@model IEnumerable<SocialNetworkingWebsite.Models.Tune>
@{
    ViewBag.Title = "Home Page";
}

<ul>
    @foreach (var tune in Model)
    {
        <li>@tune.DateTime - @tune.Artist.UserName</li>
    }
</ul>